<div class="container">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "首頁", restaurants_path %></li>
    <li role="presentation" ><%=link_to "最新動態", feeds_restaurants_path %>
    </li>
    <li role="presentation" >
      <%=link_to "Top10 人氣餐廳", ranking_restaurants_path %>
    </li>
    <li role="presentation" class="active">
      <a>美食達人</a>
    </li>
  </ul>

  <h1>美食達人</h1> 
  <hr>
  <div class="row">
    <%@users.each do |user| %>
      <div class="col-sm-3">
        <div class="user-list-item">
          <div class="imgbox">
            <div class="imgbox-inner">
              <div class="image" style="background-image:url('<%=user.avatar%>')"></div>
            </div>
          </div>
          <div class="user-list-info">
            <p><%=link_to user.name, user_path(user)%></p>
            <%= render partial: "shared/follow",locals:{user: user} %>
          </div>
        </div>
      </div>
    <%end%>



  </div> 

</div>