<div class="container">
  <div class="row u-padding-top-40px">
    <!-- avatar -->
    <div class="col-md-4">
      <div class="user-avatar">
        <div class="imgbox">
          <div class="imgbox-inner">
<!--             <%if !@user.avatar? %>
              <div class="image" style="background-image:url('<%= asset_path("default_avatar.jpg") %>')">
              </div>
            <%else%>
              <div class="image" style="background-image:url('<%=@user.avatar%>')">
              </div>
            <%end%> -->
              <div class="image" style="background-image:url('<%=@user.avatar%>')">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-content">
      <h2><%=@user.name %></h2>
        <div class="user-email "> <%=@user.email %></div>
        <div class="user-info u-padding-top-10px"><%=simple_format @user.intro %></div>
      </div>
      <%if @user == current_user %>
      <%= link_to 'Edit Profile', edit_user_path(@user), class:"btn btn-primary" %>
      <%end%>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- display restaurant that commented -->
    <div class="col-md-12"> 
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"> <%= @commented_restaurants.length %> 個已評論的餐廳</h3></div>
        <div class="panel-body">
          <% @commented_restaurants.each do |restaurant| %>
            <%=link_to restaurant_path(restaurant) do %>
              <div class="my-restaurant">
                <%=image_tag restaurant.image, class:"my-restaurant-img img-responsive center-block img-rounded" %>
                <p class="my-restaurant-name text-center"><%=restaurant.name%></p>
              </div>
            <%end%>
        <%end%>
        <div class="clear-fix"></div>
        </div>


      </div>
      <p></p>


      
  
    </div>


  </div>  
</div>