<div class="container">
  <div class="row u-padding-top-40px">
    <!-- avatar -->
    <div class="col-md-4">
      <div class="user-avatar">
        <div class="imgbox">
          <div class="imgbox-inner">
              <div class="image" style="background-image:url('<%=@user.avatar%>')">
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="user-content">
      <h2><%=@user.name %></h2>
        <div class="user-profile-email "> <%=@user.email %></div>
        <div class="u-padding-top-10px user-profile-record">
            <%= @commented_restaurants.length %> 個已評論的餐廳, 
            <%=@favorited_restaurants.length %> 個收藏的餐廳, 
            <%= @followings.length %> followings,
            <%=@followers.length %> followers

        </div>
        <div class="user-info u-padding-top-10px"><%=simple_format @user.intro %></div>
      </div>
      <%if @user == current_user %>
      <%= link_to 'Edit Profile', edit_user_path(@user), class:"btn btn-primary" %>
      <%end%>
    </div>
  </div>
  <hr>
  <div class="row">
    <!-- left panel -->
    <div class="col-md-4">
      <!-- followings start -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= @followings.length %> followings
          </h3>
        </div>
        <ul class="list-group">
          <%@followings.each  do |following|%>
              <li class="list-group-item">
                <div class="user-follow-list">
                  <%=image_tag following.avatar, class:"img-responsive img-circle" %>
                  <div class="user-follow-list-name">
                    <%=link_to following.name, user_path(following) %>
                  </div>
                </div>
              </li>
          <%end%>
        </ul>
      </div>
      <!-- followings end -->

      <!-- followers start -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%=@followers.length %> followers</h3>
        </div>
        <ul class="list-group">
          <%@followers.each  do |followers|%>
              <li class="list-group-item">
                <div class="user-follow-list">
                  <%=image_tag followers.avatar, class:"img-responsive img-circle" %>
                  <div class="user-follow-list-name">
                    <%=link_to followers.name, user_path(followers) %>
                  </div>
                </div>
              </li>
          <%end%>
        </ul>
      </div>

      <!-- followers end -->
    </div>
    <!-- left panel end -->
    
    <!-- right panel -->
    <div class="col-md-8"> 
      <!-- commented_restaurants start-->
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"> <%= @commented_restaurants.length %> 個已評論的餐廳</h3></div>
        <div class="panel-body">
          <% @commented_restaurants.each do |restaurant| %>
            <%=link_to restaurant_path(restaurant) do %>
              <div class="my-restaurant">
                <%=image_tag restaurant.image, class:"my-restaurant-img img-responsive center-block img-rounded" %>
                <p class="my-restaurant-name text-center"><%=restaurant.name%></p>
              </div>
            <%end%>
        <%end%>
        <div class="clear-fix"></div>
        </div>
      </div>
      <!-- commented_restaurants end -->

      <!-- favorited_restaurants start -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%=@favorited_restaurants.length %> 個收藏的餐廳</h3>
        </div>
        <div class="panel-body">
          <% @favorited_restaurants.each do |restaurant| %>
            <%=link_to restaurant_path(restaurant) do %>
              <div class="my-restaurant">
                <%=image_tag restaurant.image, class:"my-restaurant-img img-responsive center-block img-rounded" %>
                <p class="my-restaurant-name text-center"><%=restaurant.name%></p>
              </div>
            <%end%>
          <%end%>
        </div>
      </div>
      <!-- favorited_restaurants end -->
    </div>
   <!-- right panel end -->


  </div>  
</div>