<h1>餐廳後台</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %>
    <%= link_to 'Show', admin_restaurant_path(restaurant) %>
    <%= link_to 'Edit', edit_admin_restaurant_path(restaurant) %>
    <%= link_to 'Delelte', admin_restaurant_path(restaurant), method: :delete, data:{confirm:"Are you sure?"} %>
  </li>
  <%end%>
</ul>

<%= link_to 'New Restaurant', new_admin_restaurant_path %>