<h1> <%= @restaurant.name %></h1>

Openning Hours: <%= @restaurant.opening_hours %> <br>
Tel: <%= @restaurant.tel %> <br>
Address: <%= @restaurant.address %> <br>
Description: <%= @restaurant.description %> <br>

<br>
<%= link_to 'Back to index', admin_restaurants_path %>