<div class="container">
  <h1>餐廳分類總表</h1>
  <div>
  <%= link_to 'Restaurant', admin_restaurants_path %> |
  <%= link_to 'Categories', admin_categories_path %>
  </div>
  <div class="form-inline">
    <%= form_for [:admin, @category] do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder:"Category Name", class: "form-control" %>
      </div>
      <%= f.submit class: "btn btn-primary" %>
    <%end%>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Category Name</th>
            <th>edit</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
          <tr>
            <th><%= category.id %></th>
            <td><%= category.name %></td>  
            <td><%=link_to 'edit', admin_categories_path(id: category.id)%></td> 
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>