
<div class="container">
  <div class="row">
    <div class="category-nav">
      <ul class="nav nav-pills nav-pills-center">
        <li role="presentation"><%= link_to '全部餐廳', restaurants_path%></li>
        <% @categories.each do |category| %>
          <li class="<%= "active" if category==@category%>" role="presentation"><%=link_to category.name, category_path(category) %></li>
        <%end%>
      </ul> 
    </div>
  </div>
  <%= render partial: "shared/restaurant_list" %>
  <div class="clear-fix"></div>
    <div class="text-center">
      <%= paginate @restaurants %>      
    </div>


</div>